<header class="bg-blue-900 h-16 flex justify-center items-center"> 
    <!-- bir başlık sınıfı oluşturdum daha sonra onra bir renk belirledim h-16 ile yüksekliğini ayarladım ve flex justify-center ile ortaladım   items center ile başlığın içinde ortaladım  -->
    <input  type="text" class="h-8 w-80 rounded p-4" placeholder="Aramak istediğiniz kitabı yazınız">
    <!-- burda da bir input oluşturdum onu bir sınıfa bağladım ve h ile yüksekliğini w ile genişliğini belirttim placeholder ile saydam olarak içine bir açıklama satırı ekledim. 
        rounded ile köşelerini yuvarladım -->   
        <mat-icon matBadgeColor="warn" style="margin: 3rem;">shopping-cart</mat-icon>
        
</header>